* {
	box-sizing: border-box;
}

body {
	color: white;
	background-color: rgb(12, 12, 12);
}

.text-center {
	text-align: center;
}

main {
	width: 50vw;
	margin: 0 auto;
}

#form-section {
	padding: 20px;
	border-radius: 8px;
	border: 2px solid rgba(230 230 250 / 0.5);
	background-color: rgb(36 36 36);
}

input,
select,
textarea {
	color: white;
}

input:not([type="checkbox"], [type="radio"]),
select,
textarea {
	width: 100%;
	margin: 8px 0;
}

textarea {
	resize: vertical;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="url"],
select,
textarea {
	display: inline-block;
	background-color: rgb(26 26 26);
	border: 1px solid rgba(212 212 212 / 0.6);
	border-radius: 3px;
	padding: 12px 20px;
}

input[type="submit"] {
	background-color: hsl(120 50% 45%);
	font-weight: bold;
	padding: 14px 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 100ms;
}

input[type="submit"]:hover {
	background-color: hsl(120 45% 35%);
}
